.tag-container{
    border: 2px solid #ccc;
    border-radius: 3px;
    background: #fff;
    min-height: 100px;
    height: auto;
    padding: 10px;
    width: 300px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 1px 1px #fff;
    cursor: text;
}
.tagInput{
    border: none;
    
}

.tagInput:focus{
    border: none;
    outline: none;
}

.tag{
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #eee;
    color: black;
     padding: 3px;
     margin-top: 3px;
     margin-bottom: 3px;
     border-radius: 3px;
     margin-left: 5px;
     box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 1px 1px #fff;
     
   }
   .tag3::after{
    content: url('../../assets/close.svg');
    display: inline-block;
    margin-left: 3px;
}
.icon{
  
    display: inline-block;
    margin-left: 3px;
    cursor: pointer;
}
span{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}